127.0.0.1       localhost.localdomain localhost
::1     localhost6.localdomain6 localhost6
192.168.122.210     kube0.example.com
192.168.122.211     kube1.example.com
192.168.122.211     registry.example.com
192.168.122.212     kube2.example.com
