127.0.0.1       localhost.localdomain localhost
::1     localhost6.localdomain6 localhost6
{{ kube_master.ip }}  {{ kube_master.hostname }}
{{ kube_node1.ip }}   {{ kube_node1.hostname }}
{{ kube_node2.ip }}   {{ kube_node2.hostname }}
